footer {
  padding: 2rem;
  background-color: #22262F;
  font-size: var(--body-font-size-s);
  color: #afafaf;
}

footer p {
  color: #fff;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer > div {
  display: flex;
  flex-wrap: wrap;
}

footer .footer .section:first-of-type {
  width: 25%;
}

footer .footer .section:nth-child(2) {
  width: 25%;
}

footer .footer .section:nth-child(3) {
  width: 50%;
}

footer .footer .section:last-of-type {
  border-top: #454545 1px solid;
  width: 100%;
  margin-top: 3rem;
  padding-top: 2rem;
}

footer .footer p {
  margin: 0;
}

footer .footer .section:last-of-type div > p {
  color: #888;
  text-align: center;
  font-size: 12px;
}

div.footer.block ul a {
    color: #afafaf;
}
